@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #CF2E2E;
  --background-start-rgb: #FFDAC6;
  --background-end-rgb: #BABD8D;
  --primary-red: #CF2E2E;
  --secondary-orange: #FA9500;
  --olive: #7C6A0A;
  --neutral-sage: #BABD8D;
  --neutral-apricot: #FFDAC6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #CF2E2E;
    --background-start-rgb: #FFDAC6;
    --background-end-rgb: #BABD8D;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
